#example of geo_config.py (necessary to run the script)
#which db cluster to use. Different projects are on different clusters.
s1_host = 's1-analytics-slave.eqiad.wmnet'
s6_host = 's6-analytics-slave.eqiad.wmnet'

#user credentials
s1_user = 'user1'
s6_user = 'user2'
defaultcnf = '/home/user1/.my.cnf'
s6_defaultcnf = '/home/user2/.my.cnf'

#this is the basic query. dbname is passed in by top_recent_contributors.py
rc_query = """select user_name, user_id, total_edits, primary_ip 
	  from (
		select sum(edits) as total_edits, user_id, user_name, primary_ip from (
		  select count(cuc_id) as edits, cuc_user as user_id, cuc_user_text AS user_name, cuc_ip as primary_ip 
	  from %s.cu_changes 
		where cuc_user != 0 
		and cuc_type = 0 
		  and cuc_user NOT IN (
			SELECT ug_user FROM %s.user_groups WHERE ug_group = 'bot'
			)
		 group by cuc_user, cuc_ip 
		 order by edits desc
		 ) as tmp 
	   group by user_id order by total_edits desc
		 ) as tmp2 
	   where total_edits >= 15 
	   order by total_edits desc; """